
.nav-tabs .glyphicon:not(.no-margin) { margin-right:10px; }
.tab-pane .list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.tab-pane .list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.tab-pane .list-group .checkbox { display: inline-block;margin: 0px; }
.tab-pane .list-group input[type="checkbox"]{ margin-top: 2px; }
.tab-pane .list-group .glyphicon { margin-right:5px; }
.tab-pane .list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }
.nav-pills>li>a {padding: 5px 10px;}

.ad { padding: 5px;background: #F5F5F5;color: #222;font-size: 80%;border: 1px solid #E5E5E5; }
.ad a.title {color: #15C;text-decoration: none;font-weight: bold;font-size: 110%;}
.ad a.url {color: #093;text-decoration: none;}
.invalid-feedback{
    display:none;
}
/* navvbar settings for account block */
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.rightNav{
    color:#000000 !Important;
}

.navbar > .container{
    min-height: 80px;
}
.dateRight{
    float:right;font-size: 1em;padding-right: 20px;
}
.unread{
    font-weight: 800;
}

.logo-md{
    max-height: 65px;
}

.jumbotron-dark-alt{
    background-color:#333;
    color:#fff;
}
.signupForm{

    font-size:.9em !important;
}
.txt-red{
    color:#e2383f !important;
}
.wideRadio{
    margin:10px 5px !important;
}




.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-filter{
    display: none;
    display: block;
    padding-right: 40%;
    padding-left: 18px;
}

.panelUtil{
    min-height: 275px !important;
}
/*hide detail until clicked */
.fax-detail{
    display:none;
    border-top: 1px dotted #222;
    padding:10px;
    background-color: #FFFFFF;
    
}
.fax-meta{
    font-size: 1.1em;
    font-weight: 300;
    line-height: 24px;
}